server/node_modules
server/.venv
server/__pycache__
server/out
server/templates/tmp
.venv
node_modules
dist
build
*.log
*.tmp
*.cache
*.bak
*.swp
.DS_Store
.idea
.vscode
*.iml
*.sublime-project
*.sublime-workspace
